section {
  display: flex;
}


.container_size{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.container_size div {
  display: flex;
  flex-direction: column;
  width: 500px;

}