@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand:wght@500&display=swap');

.fish_alternative_box {
  /* border: solid 1px black; */
  margin: 20px 2%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  
}

.fish_alternative_button {
  text-decoration: underline;
  border: none;
  background: transparent;
}

.fish_alternative_div {
  background-color: rgb(238, 238, 238);
  margin: 10px;
}

.fish_alternative_photo {
  height: 200px;
  width: auto;
  margin:20px;
}