@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Quicksand:wght@500&display=swap');

.nav {
  height: 50px;
  background-color: #333;
  overflow: hidden;
}

.navbar_item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

.navbar_item:hover {
  background-color: #ddd;
  color: black;
}
